/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans';
}

/* UTILITIES */

.debug {
  background-color: rgba(0, 255, 0, 0.2);
  min-height: 50px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Header */
header {
  width: 100%;
  position: relative;
}

header .top-bar {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 80px;
  background-color: #0084FD;
}

header .row {
  align-items: center;
  height: 100%;
}

header .row .logo {
  padding: 0 5px;
}

header .row .logo img{
  width: 80px;
}

header .row .menu {
  display: none;
}

header .row .menu ul li{
  height: 100%;
  list-style: none;
  display: inline-block;
}

header .row .menu li a{
  text-decoration: none;
  margin-left: 15px;
  color: white;
  font-size: 1.2rem;
}

header .row .menu .btn {
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 1.2rem;
}

header .row .hamburger {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
  font-size: 2.5rem;
  color: white;

}

/* MAIN */
.planning,
.testimonials,
.benefits,
.about,
.getstarted,
footer {
  padding: 40px;
}

.intro {
  padding-top: 130px;
  padding-bottom: 80px;
}
.intro .row {
  flex-wrap: wrap;
  justify-content: space-between;
}


.intro .col {
  padding: 20px;
  margin: 0 0 15px 0;
  border-radius: 20px;
  background-color: #B5DDFF;
}

.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row {
  flex-direction: column;
}

.intro .intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5A6E7F;
  flex-basis: 32.5%
}

.intro .col h2{
  color: #0084FD;
  margin-bottom: 10px;
}

.intro .col span {
  font-size: 70px;
  padding: 20px 0;
  color: #0084FD;
}

.intro .btn {
  border: none;
  margin: 20px 0;
  padding: 10px 80px;
  border-radius: 20px;
  background: #0084FD;
  color: white;
  font-weight: 700;
}

.planning {
  background-color: #9792E4;
}

.planning .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  text-align: center;
}



.testimonials .container .top {
  padding: 50px 0;
  text-align: center;
}

.testimonials .card img{
  margin: 0 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
} 

.testimonials .card {
  padding: 20px 0;
  margin-bottom: 25px;
  border-radius: 30px;
  background-color: #9792E4;
  color: white;
}

.testimonials .card .col:nth-of-type(2) {
  padding: 20px;

}


.testimonials .card p::before {
  content: "\201C";
  font-size: 25px;
  font-weight: 900;
}

.testimonials .card p::after {
  content: "\201D";
  font-size: 25px;
  font-weight: 900;
}

.benefits {
  background-color: #9792E4;
}

.testimonials .card h4 {
  margin-top: 20px;
}

.benefits .top {
  padding-bottom: 80px;
  text-align: center;
}

.benefits .row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits .col {
  flex-basis: 32%;
  padding: 50px 30px 30px 30px;
  margin-bottom: 25px;
  border-radius: 20px;
  color: #737373;
  background-color: white;
}

.benefits .col h2 {
  font-size: 45px;
}

.benefits .col h2,
.benefits .col h4 {
  color: #9792E4;
  margin-bottom: 10px;
}


.benefits .btn {
  border: 0;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
  font-weight: 600;
  background: #9792E4;
  margin: 20px 0;
}

.about .col:first-child {
  padding: 50px;
}

.about .col:last-child {
  padding: 30px 10px 10px;
}

.about .col img {
  border-radius: 50%;
}

.about .col h1{
  font-size: 50px;
}

.about .col h1,
.about .col h2 {
  color: #9792E4;
  margin-bottom: 30px;
}

.about .col p {
  margin-bottom: 40px;
}
.about .col .btn {
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  background-color: #9792E4;
  font-weight: 500;
}

.getstarted {
  background-color: #9792E4;
  color: white;
  padding: 60px 0;
}

.getstarted .container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getstarted .container h2 {
  font-size: 30px;
}

.getstarted .container h1 {
  font-size: 55px;
  margin: 20px 0;
  color: #FDC15F;
}

.getstarted .container .btn {
  margin: 30px 0;
  border: none;
  padding: 15px 60px;
  border-radius: 20px;
  background-color: white;
  font-weight: 600;
  color: #9792E4;
}

.getstarted .container a {
  color: white;
}

footer {
  background-color: #333333;
  color: white;
}

footer .container {
  width: 45%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

footer .container a {
  color: #9792E4;
}
