/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

.debug {
  background-color: rgba(0, 255, 0, 0.2);
  min-height: 50px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header */
header .row {
  justify-content: space-between;
}

header .row .menu {
  display: none;
}

/* MAIN */
.intro .row {
  flex-wrap: wrap;
}

.intro .col:first-child .row,
.planning .row,
.testimonials .row,
.benefits .row,
.about .row {
  flex-direction: column;
}

.benefits .row {
  flex-wrap: wrap;
}
