/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.flex {
  display: flex;
}

.debug {
  background-color: rgba(0, 255, 0, 0.2);
  min-height: 50px;
  border: 1px solid black;
}

.container {
  width: 90%;
  max-width: 576px;
  margin: 0 auto;
}

.small-card,
.big-card {
  margin: 25px auto;
}

/* Header */

header #top-bar {
  width: 100%;
  height: 75px;
  margin-bottom: 50px;
}

header #top-bar div{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}